.search {
    padding: 10px;
    width: 100%;
    border: 1px solid #dddddd;
}

.btn {
    border: none;
    background: none;
    position: absolute;
    right: -12px;
    top: 28px;
    cursor: pointer;
}

.btn svg {
    width: 20px;
    height: 20px;
}

svg {
    fill: darkgray;
    transition: all 0.2s ease-in-out;
}

.btn:hover svg {
    fill: #000;
}

.search:focus {
    outline-color: aliceblue;
}


.visuallyHidden {
    visibility: hidden;
}
